:root {
    --purple: #007EA7;
    --light: #FFFFFF;
    --header-link: #FFFFFF;
    --header-link-hover: #007EA7;
    --header-link-hover-icon: #007EA7;
    --header-link-active: #FFFFFF;
    --std-color: #ffffff;
    --bg: #00171F;
    --bg-rgb: 63,66,56;
    --bgLight: radial-gradient(var(--bg),transparent,var(--purple) 130%);
    --gray: grey;
    --comment: #B8B5B0;
  }



html {
    font-family: Roboto Mono,monospace;
    font-size: 100%;
    hyphens: auto;
    word-break: normal;
    color: #888;
  }

body {
    background-color: var(--bg);
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
    font-family: inherit;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 4rem;
    padding: 0 1rem 5rem;
  }

.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(180deg,var(--bg) 3rem,rgba(var(--bg-rgb),0));
  }

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    max-width: 80rem;
    margin: 0 auto;
  }

.header-breadcrumb {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--header-link);
  }

.header-breadcrumb span{
    color: var(--purple);
  }

.header-nav-button {
    flex: 0 0 auto;
    width: 3rem;
    height: 3rem;
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
    margin-right: -1rem;
    background: none;
    border: 0;
  }

@media screen and (max-width: 768px){
    .header-nav-button {
        display: flex;
        transition: all 1s linear;
      }
  }

.header-nav-button .dots {
    flex: 0 0 auto;
    position: relative;
    width: .25rem;
    height: .25rem;
    border-radius: .25rem;
    background: var(--header-link);
    transition: all .4s cubic-bezier(.19,1,.22,1);
  }

.header-nav {
    display: flex;
    align-items: center;
/*     transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: ease-in-out; */
  }

@media screen and (max-width: 768px){
    .header-nav {
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        padding: 8rem 1rem 4rem;
        text-align: right;
        transform: translate3d(110%,0,0);
      }
  }

.header-nav-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    color: var(--purple);
    font-size: 2rem;
  }

.header-nav-close-button:hover {
    color:var(--light);
    transition: color .4s ease-out;
   }

@media screen and (max-width: 768px){
    .header-nav-close-button {
        display: flex;
      }
  }  

.header-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
  }

@media screen and (max-width: 768px){
    .header-nav ul {
        display: block;
      }
  } 

.header-nav li {
    flex: 0 0 auto;
    margin-left: 1rem;
    list-style: none;
  }

@media screen and (max-width: 768px){
    .header-nav li {
        margin: 0 0 2rem;
        list-style: none;
      }
  }
  

.header-nav a.router-link-exact-active {
    opacity: .5;
    cursor: default;
  }

@media screen and (max-width: 768px){
    .header-nav a.router-link-exact-active {
        opacity: .5;
        cursor: default;
      }
  }
  

.header-nav a {
    height: 2rem;
    display: flex;
    align-items: center;
    color: #dbdbdb;
    transition: color .4s ease-out;
    line-height: 1;
  }

.header-nav a:hover {
    color:var(--header-link-hover)
   }

@media screen and (max-width: 768px){
    .header-nav a {
        height: auto;
        justify-content: flex-end;
        font-size: 3rem;
        font-weight: 700;
      }
  }
  

a {
    text-decoration: none;
  }

p{
    color: #dbdbdb;
}



  